Home Assignment - AI Automation Engineer (2).json
{
  "name": "Home Assignment - AI Automation Engineer",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.baseUrl }}",
        "responseFormat": "string",
        "options": {}
      },
      "name": "Fetch Homepage HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1520,
        384
      ],
      "connections": {
        "main": [
          [
            {
              "node": "Extract Article Links",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "id": "3bb176d8-108d-4bee-b7bf-90401453870f"
    },
    {
      "parameters": {
        "jsCode": "// for example this link will be filtered out: https://www.ynet.co.il/article/rkskixybt\nconst rawUrls = $input.first().json.articleUrls;\nconst uniqueUrls = [...new Set(rawUrls)];\n\nconst maxPages = $('Initialize Configuration').first().json.maxPagesToScrape;\n\nconst filteredUrls = uniqueUrls\n  .filter(link => link.split('/').length > 5)\n  .slice(0, maxPages);\n\nreturn filteredUrls.map(url => {\n  return {\n    json: {\n      articleUrl: url\n    }\n  };\n});"
      },
      "name": "Filter Article Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1968,
        384
      ],
      "connections": {
        "main": [
          [
            {
              "node": "Wait (Politeness)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "id": "a41e5cb6-9a56-49d0-a553-44b82e62bcb3"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        5104,
        496
      ],
      "id": "72c305be-82d7-4582-81d5-57d859d972c1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "JmqG9v4RfEMBQdLj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1744,
        1664
      ],
      "id": "9b5f1958-1b91-4588-9797-d63575dbf558",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "JmqG9v4RfEMBQdLj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"rank1character\": \"\",\n    \"rank2character\": \"\",\n    \"rank3character\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1872,
        1664
      ],
      "id": "444548fa-d7f7-4d71-9ae3-2e17f8fa0c74",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "content": "## Daily: Ad Scraping & Feature Extraction",
        "height": 944,
        "width": 5392
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        -64
      ],
      "typeVersion": 1,
      "id": "f8f6f7b5-1f1d-4a35-9cd8-38a239362cad",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1072,
        384
      ],
      "id": "f98178a3-87cd-4ce8-9558-c22293901f80",
      "name": "Daily schedual"
    },
    {
      "parameters": {
        "content": "## Weekly: Trend Analysis & Ads Generation\n",
        "height": 880,
        "width": 1616,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        928
      ],
      "typeVersion": 1,
      "id": "30b127f4-f004-45de-a477-17c2fdf8cbbb",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Ynet Ad Scraping ",
        "height": 496,
        "width": 1968,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1024,
        144
      ],
      "typeVersion": 1,
      "id": "ec45276d-f581-4eaf-a4b3-46ab5fadb24a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Home Assignment - AI Automation Engineer\nExample of the output - https://drive.google.com/file/d/1yxi8DEDkvV2QyENx1UO_DRMCmjRsnhoX/view?usp=sharing\n## How it works:\n1. Daily Workflow: Ad Scraping & Feature Extraction\nThis workflow is the system's data-gathering engine. Its primary job is to find ads on ynet.co.il, analyze new ones, and keep a record of when they were seen.\n\nThe process begins with a two-stage fetch to efficiently gather ad data. First, it performs a simple, lightweight HTML request to the Ynet homepage to quickly parse and extract the main article links.\n\nThen, for each of these article URLs, it sends a request to the browserless.io API. This service renders the full page in a real browser environment, executing all JavaScript. This step is crucial for revealing dynamically loaded ad content, especially ads served within iframes from known ad networks, which would be invisible in a simple HTML fetch. The rendered HTML is then meticulously scraped for ad images, which are consolidated into a master list for the current run.\n\nIt is important to note a key technical constraint of the n8n environment: it does not natively support browser automation libraries like Selenium or Playwright. Consequently, advanced interactions required by the assignment, such as programmatic scrolling to trigger lazy-loaded images or handling complex pagination, could not be implemented directly within this workflow.\n\nFurthermore, the ads returned by the browserless.io API may differ from those seen on a personal computer due to factors like geo-targeting and ad personalization. For a more robust, future-proof solution, the ideal architecture would be to create a custom API (e.g., using Flask in Python). This API would leverage a library like Selenium to gain full control over the browser, enabling it to handle scrolling and reliably extract all relevant iframe data. The n8n workflow would then call this custom API, abstracting away the complexities of the scraping process.\n\nComparison & Sorting: The system reads the historical ad database from your Google Sheet. It compares the newly scraped ads against this history to sort them into two groups:\n\nNew Ads: Images that have never been seen before.\n\nExisting Ads: Images that are already in the database.\n\nProcessing Existing Ads: For ads it has seen before, the system simply updates their last_seen timestamp to the current time, keeping a fresh record of their activity.\n\nProcessing New Ads (The Image Analysis Pipeline): This is where the deep analysis happens for each new ad.\n\nMetadata Enrichment: The ad is prepared by adding initial metadata, such as a width and heigth, the source URL, and other details.\n\nAI Vision Analysis: It sends the image to the Google Vision API to perform feature extraction. This pulls out key characteristics like the top 3 dominant colors.\n\nAI Character Analysis: It then sends the image context to the Google Gemini API with a specific prompt to identify any characters present.\n\nData Merging: The results from the Vision API and Gemini API are merged back into the ad's record.\n\nFinal Update: Finally, the workflow combines the updated records for existing ads and the newly analyzed records for new ads. This complete list is then written back to the Google Sheet.\n\n2. Weekly Workflow: Trend Analysis & Creative Generation\nThis workflow acts as the \"intelligence\" layer. It uses the data collected daily to find patterns and then acts on them.\n\nData Ingestion: The process starts by reading the entire ad database from the Google Sheet, including all the features extracted by the daily workflow.\n\nTrend Analysis: It analyzes all the collected data to identify high-performing trends. It specifically looks for:\n\nThe most common objects appearing in ads.\n\nThe most frequently used color palettes - This code doesn't just find the most common raw hex code. It first identifies the most popular color trend by categorizing hexes into general names (like \"blue\"), and then selects the hex with the median strength from all the colors in that winning group.\n\nThe top characters identified by the AI - This step uses an AI model to analyze all the character descriptions, identifying and ranking the top 3 most frequently appearing characters across the collected ads.\n\nAI-Powered Ad Generation: Using the insights from the trend analysis, the workflow instructs an AI image generation model to create three new ad creatives for Guardio. These new ads are designed to reflect the dominant trends in color, objects, and characters.\n\nOutput: The newly generated ad images are then uploaded and saved to a Google Drive, ready for use in marketing campaigns.\n\n\n\n## setup:\n\n1. Google Cloud Project Setup:\n\nCreate a new Google Cloud project to house all your APIs.\nEnable billing for the project to use paid services like the Vision and Vertex AI APIs.\n\n2. Enable Necessary APIs:\n\nIn the Google Cloud Console, enable the following APIs:\nGoogle Sheets API\nGoogle Drive API\nCloud Vision API\n\n3. Web Scraping Service (Browserless)\n\nTo properly scrape modern, JavaScript-heavy websites like Ynet, a headless browser service is required. This project is configured to use browserless.io.\n\nYou will need an API key from this service. You may use the one I have provided. No worries about unexpected charges, as I have not provided any billing information for this key.\n\n4. Prepare Data Storage:\n\nCreate a new Google Sheet.\nSet up the required headers for the ads database.\nrun_id\trun_ts\tpage_url\timage_url\twidth\theight\tplacement_hint\tad_host\tsource\tfirst_seen\tlast_seen\tpalette_1\tpalette_2\tpalette_3\thas_face\tobjects\ttext\tcharacter",
        "height": 2400,
        "width": 656,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        -64
      ],
      "typeVersion": 1,
      "id": "331a61b4-bc53-4fcb-9fd9-449cf0e0942d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "runTimestamp",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "name": "baseUrl",
              "value": "https://www.ynet.co.il"
            },
            {
              "name": "maxPagesToScrape",
              "value": "1"
            },
            {
              "name": "runId",
              "value": "={{ $now.toMillis() + '-' + Math.random().toString(36).substring(2) }}"
            },
            {
              "name": "browserlessApiKey",
              "value": "2TD6IXsY5ROEqw9688d82ecbd02cf658daae276f1c4187554"
            },
            {
              "name": "maxNewAds",
              "value": "30"
            },
            {
              "name": "email",
              "value": "aaa@gmail.com"
            },
            {
              "name": "googleVisionAPIKey",
              "value": "AAA"
            }
          ]
        },
        "options": {}
      },
      "name": "Initialize Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1296,
        384
      ],
      "connections": {
        "main": [
          [
            {
              "node": "Fetch Homepage HTML",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "id": "54fdeb0e-bac5-454b-851a-81397683162e"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "articleUrls",
              "cssSelector": "a[href*=\"/article/\"]",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1744,
        384
      ],
      "id": "e33deaf3-d830-4734-aa0b-db886899a9a3",
      "name": "Extract Article URLs"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://production-sfo.browserless.io/content?token={{ $('Initialize Configuration').item.json.browserlessApiKey }}",
        "responseFormat": "string",
        "dataPropertyName": "renderdHTML",
        "options": {
          "batchInterval": "={{ Math.random() * 2000 + 3000 }}",
          "batchSize": 1
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "url",
              "value": "={{ $json.articleUrl }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Get Rendered HTML with Headless Browser",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2192,
        384
      ],
      "connections": {
        "main": [
          [
            {
              "node": "Extract Article Links",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "id": "a70e67b4-2821-4abd-b777-abb73e19a7d6",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "renderdHTML",
        "extractionValues": {
          "values": [
            {
              "key": "adImageUrls",
              "cssSelector": "[id*=\"ad\"] img, [class*=\"ad\"] img, [id*=\"banner\"] img, [class*=\"banner\"] img, [id*=\"sponsor\"] img, [class*=\"sponsor\"] img, [id*=\"taboola\"] img",
              "returnValue": "attribute",
              "attribute": "src",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        2416,
        288
      ],
      "id": "d61e5e63-a720-4732-ab1a-5e2f57c2aea5",
      "name": "Scrape Ads from Main DOM"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "renderdHTML",
        "extractionValues": {
          "values": [
            {
              "key": "adImageUrls",
              "cssSelector": "span.thumbBlock",
              "returnValue": "attribute",
              "attribute": "style",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        2416,
        480
      ],
      "id": "ed1b19e4-1b0e-4a66-950d-37b89d942c57",
      "name": "Scrape iFrame Ad Sources"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const adImageStyles = $json.adImageUrls;\n\nconst cleanUrls = [];\n\nif (Array.isArray(adImageStyles)) {\n  for (const style of adImageStyles) {\n    if (typeof style === 'string') {\n      const match = style.match(/url\\(\"(.+?)\"\\)/);\n        if (match && match[1]) {\n        cleanUrls.push(match[1]);\n      }\n    }\n  }\n}\n\nreturn {\n  ...$json,\n  adImageUrls: cleanUrls\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        480
      ],
      "id": "f0832259-9360-4cf1-9e05-6a268298d4ed",
      "name": "Isolate URLs"
    },
    {
      "parameters": {
        "jsCode": "const articleItems = $(\"Filter Article Links\").all();\nconst urlToPageMap = new Map();\nconst allInputItems = $input.all();\n\nallInputItems.forEach((item, index) => {\n  const correspondingArticleItem = articleItems[index];\n  if (!correspondingArticleItem) {\n    return;\n  }\n  const pageNum = correspondingArticleItem.json.articleUrl;\n  const urls = item.json.adImageUrls;\n  if (urls && Array.isArray(urls)) {\n    for (const url of urls) {\n      if (!urlToPageMap.has(url)) {\n        urlToPageMap.set(url, pageNum);\n      }\n    }\n  }\n});\n\nreturn Array.from(urlToPageMap).map(([imageUrl, articleUrl]) => {\n  return {\n    json: {\n      image_url: imageUrl,\n      page_url: articleUrl \n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2864,
        480
      ],
      "id": "71dcc483-aab8-4bc7-bbd8-eca2dcb014e0",
      "name": "Combine and Clean Ad URLs"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10FTf-jMPzjpAbtKMKquZBwu5qzonOeZfm_w3S0OF7XE",
          "mode": "list",
          "cachedResultName": "ads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10FTf-jMPzjpAbtKMKquZBwu5qzonOeZfm_w3S0OF7XE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "גיליון1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10FTf-jMPzjpAbtKMKquZBwu5qzonOeZfm_w3S0OF7XE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3088,
        464
      ],
      "id": "884e35b4-8a98-48ab-b9e8-dcea334c3f52",
      "name": "Read Existing Ads from Sheet",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uF0uHKbG6wiumvXL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "image_url",
        "outputDataFrom": "input2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3312,
        128
      ],
      "id": "9b085473-f745-4bd7-864c-870ac76842c0",
      "name": "Find Existing Ads"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "image_url",
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3312,
        672
      ],
      "id": "410b7513-9d4a-44c0-bd8a-e2ff16ee66e2",
      "name": "Find Unseen Ads"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "408c4aa4-061a-4ef8-a53d-f555c02c4aff",
              "name": "last_seen",
              "value": "={{ $('Initialize Configuration').first().json.runTimestamp }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3536,
        128
      ],
      "id": "ede5aec0-8b2f-4d6d-8ed9-36e8305dbef4",
      "name": "Update 'Last Seen' Timestamp"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Initialize Configuration').item.json.email }}",
        "subject": "A new ad found",
        "message": "={{ $json.image_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3536,
        720
      ],
      "id": "717807c3-657e-4215-8e4c-656f84c12721",
      "name": "Send New Ad Notification",
      "webhookId": "4965eb49-0d94-4618-950a-f84bc7629f28",
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "rWqpwhYJLmbmKC7X",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "maxItems": "={{ $('Initialize Configuration').first().json.maxNewAds }}"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        3536,
        528
      ],
      "id": "603b5a0a-ff29-40db-a9da-c369a2297206",
      "name": "Process First X New Ads"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction getImageExtension(url) {\n  let match = url.match(/f_(jpg|png|gif|webp|jpeg)/i);\n  if (match && match[1]) {\n    return match[1].toLowerCase();\n  }\n  match = url.match(/\\.(jpg|png|gif|webp|jpeg)(?:[?#]|$)/i);\n  if (match && match[1]) {\n    return match[1].toLowerCase();\n  }\n  return 'jpg';\n}\n\nfunction getAdHost(url) {\n  try {\n    const parts = url.split('/');\n    return parts[2];\n  } catch (e) {\n    return 'unknown';\n  }\n}\n\nfunction getImageDimensions(url) {\n  let width = null;\n  let height = null;\n  \n  const widthMatches = url.match(/w_(\\d+)/g);\n  const heightMatches = url.match(/h_(\\d+)/g);\n  \n  if (widthMatches && widthMatches.length > 0) {\n    const lastWidth = widthMatches[widthMatches.length - 1];\n    width = parseInt(lastWidth.split('_')[1], 10);\n  }\n  \n  if (heightMatches && heightMatches.length > 0) {\n    const lastHeight = heightMatches[heightMatches.length - 1];\n    height = parseInt(lastHeight.split('_')[1], 10);\n  }\n  \n  return { width, height };\n}\n\nconst transformedUrls = [];\nconst runTs = $('Initialize Configuration').first().json.runTimestamp;\nconst runId = $('Initialize Configuration').first().json.runId;\nfor (const item of items) {\n  const inputUrls = item.json.image_url;\n  const pageUrl = item.json.page_url;\n  const urls = Array.isArray(inputUrls) ? inputUrls : [inputUrls];\n  for (const url of urls) {\n    if (url) {\n      const { width, height } = getImageDimensions(url);\n      transformedUrls.push({\n        page_url: pageUrl,\n        width: width,\n        height: height,\n        image_url: url,\n        ad_host: getAdHost(url),\n        run_ts: runTs,\n        placement_hint: \"css-bg\",\n        image_extension: getImageExtension(url),\n        run_id: runId,\n        first_seen: runTs,\n        last_seen: runTs,\n        source: \"ynet\"\n      });\n    }\n  }\n}\nreturn transformedUrls.map(ad => ({ json: ad }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3760,
        528
      ],
      "id": "7674adc6-dfa7-49c2-8df3-06950819d3d6",
      "name": "Add Ad Metadata"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "=https://vision.googleapis.com/v1/images:annotate?key={{ $('Initialize Configuration').item.json[\"googleVisionAPIKey\"] }}",
        "jsonParameters": true,
        "options": {
          "batchInterval": "={{ Math.random() * 2000 + 1000 }}",
          "batchSize": 16,
          "bodyContentType": "json"
        },
        "bodyParametersJson": "={\n  \"requests\": [\n    {\n      \"image\": {\n        \"source\": {\n          \"imageUri\": \"{{ $json.image_url }}\"\n        }\n      },\n      \"features\": [\n        { \"type\": \"IMAGE_PROPERTIES\", \"maxResults\": 3 },\n        { \"type\": \"FACE_DETECTION\" },\n        { \"type\": \"OBJECT_LOCALIZATION\" },\n        { \"type\": \"TEXT_DETECTION\" }\n      ]\n    }\n  ]\n}"
      },
      "name": "Analyze Image with Google Vision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3984,
        528
      ],
      "connections": {
        "main": [
          [
            {
              "node": "Extract Article Links",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "id": "6364f328-eec4-4e80-9399-9aa32215f20a",
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "5GLphysSZA6ckHiJ",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const inputData = $('Add Ad Metadata').item.json;\nconst apiResponse = $input.item.json;\n\nconst rgbToHex = (r, g, b) => {\n  return '#' + [r, g, b].map(x => {\n    const hex = Math.round(x || 0).toString(16);\n    return hex.length === 1 ? '0' + hex : hex;\n  }).join('').toUpperCase();\n};\n\nlet palette_1 = '';\nlet palette_2 = '';\nlet palette_3 = '';\n\nif (apiResponse.responses?.[0]?.imagePropertiesAnnotation?.dominantColors?.colors) {\n  const colors = apiResponse.responses[0].imagePropertiesAnnotation.dominantColors.colors;\n\n  if (colors[0]) {\n    palette_1 = rgbToHex(colors[0].color.red, colors[0].color.green, colors[0].color.blue);\n  }\n  if (colors[1]) {\n    palette_2 = rgbToHex(colors[1].color.red, colors[1].color.green, colors[1].color.blue);\n  }\n  if (colors[2]) {\n    palette_3 = rgbToHex(colors[2].color.red, colors[2].color.green, colors[2].color.blue);\n  }\n}\n\nconst hasFace = apiResponse.responses?.[0]?.faceAnnotations?.length > 0;\nlet joyLikelihood = '';\nlet sorrowLikelihood = '';\nlet angerLikelihood = '';\nlet surpriseLikelihood = '';\nlet underExposedLikelihood = '';\nlet blurredLikelihood = '';\nlet headwearLikelihood = '';\n\nif (hasFace) {\n  const faceAnnotation = apiResponse.responses[0].faceAnnotations[0];\n  joyLikelihood = faceAnnotation.joyLikelihood;\n  sorrowLikelihood = faceAnnotation.sorrowLikelihood;\n  angerLikelihood = faceAnnotation.angerLikelihood;\n  surpriseLikelihood = faceAnnotation.surpriseLikelihood;\n  underExposedLikelihood = faceAnnotation.underExposedLikelihood;\n  blurredLikelihood = faceAnnotation.blurredLikelihood;\n  headwearLikelihood = faceAnnotation.headwearLikelihood;\n}\n\n\nlet objects = '';\nif (apiResponse.responses?.[0]?.localizedObjectAnnotations) {\n  objects = apiResponse.responses[0].localizedObjectAnnotations\n    .map(label => label.name)\n    .join(', ');\n}\n\nlet text = '';\nif (apiResponse.responses?.[0]?.textAnnotations?.[0]) {\n  text = apiResponse.responses[0].textAnnotations[0].description.replace(/\\n/g, ' ');\n}\n\nreturn {\n  page_url: inputData.page_url,\n  width: inputData.width,\n  height: inputData.height,\n  image_url: inputData.image_url,\n  ad_host: inputData.ad_host,\n  run_ts: inputData.run_ts,\n  placement_hint: inputData.placement_hint,\n  image_extension: inputData.image_extension,\n  run_id: inputData.run_id,\n  first_seen: inputData.first_seen,\n  last_seen: inputData.last_seen,\n  source: inputData.source,\n  palette_1: palette_1,\n  palette_2: palette_2,\n  palette_3: palette_3,\n  has_face: hasFace,\n  objects: objects,\n  text: text,\n  joy_likelihood: joyLikelihood,\n  sorrow_likelihood: sorrowLikelihood,\n  anger_likelihood: angerLikelihood,\n  surprise_likelihood: surpriseLikelihood,\n  under_exposed_likelihood: underExposedLikelihood,\n  blurred_likelihood: blurredLikelihood,\n  headwear_likelihood: headwearLikelihood,\n  character: \"\"\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4208,
        528
      ],
      "id": "064995eb-f23b-4499-b0af-eda1b15ee2aa",
      "name": "Merge Vision API Results"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ccd6e424-ad07-40f3-99dc-768d539aaeea",
              "leftValue": "={{ $json.has_face }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4432,
        528
      ],
      "id": "cfe80a83-5875-436c-97c4-1d7f3ef878a4",
      "name": "Does Image Contain a Face?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7a9a2824-12c9-42d1-9328-e659786c6853",
              "name": "ai_prompt",
              "value": "={ {{ $json.objects }} } {{ $json.joy_likelihood }}, {{ $json.sorrow_likelihood }}, {{ $json.anger_likelihood }}, {{ $json.surprise_likelihood }}, {{ $json.under_exposed_likelihood }}, {{ $json.blurred_likelihood }}, {{ $json.headwear_likelihood }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4656,
        384
      ],
      "id": "507a3a16-9d3e-41b4-a51e-be6c60590d5a",
      "name": "Define AI Prompt Template"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst batchSize = 10;\nconst outputItems = [];\nfor (let i = 0; i < items.length; i += batchSize) {\n  const batch = items.slice(i, i + batchSize);\n  const combinedString = batch.map(item => item.json.ai_prompt).join(', ');\n  const newItem = {\n    json: {\n      result: combinedString\n    }\n  };\n\n  outputItems.push(newItem);\n}\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4880,
        384
      ],
      "id": "088f1243-1566-44ac-ae6c-93d201dc9f85",
      "name": "Build Final Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "messages": {
          "messageValues": [
            {
              "message": "You are an expert market research analyst specializing in identifying consumer archetypes from digital advertising data. Your task is to analyze a series of structured data entries, each corresponding to a single ad image that is known to contain a human face, and identify the primary character persona for each one.  Instructions:  You will be provided with a string of data containing one or more entries. Each entry consists of two parts:  A set of abstract object identifiers enclosed in curly braces {}. These identifiers may be numerical (e.g., {1, 5, 32}) or the value None. You must interpret these abstract identifiers as clues representing real-world objects to build a coherent profile. Assume that the same ID consistently refers to the same type of object across different entries.  A sequence of seven likelihood scores for emotions and attributes, corresponding to: Joy, Sorrow, Anger, Surprise, Exposed, Blurred, and Headwear.  Your primary task is to synthesize these clues. Do not default to None unless the data is completely generic or contradictory. Your goal is to create a plausible, marketable persona by connecting the assumed objects with the emotional context.  Example of Correct Inference:  Input: {1, 5, 32} LIKELY, VERY_UNLIKELY, UNLIKELY, VERY_UNLIKELY, UNLIKELY, UNLIKELY, VERY_UNLIKELY  Analyst's Thought Process: \"The objects could be a {Laptop, Coffee Mug, Office Desk}. The emotion is strong 'Joy'. This combination strongly suggests a professional who is happy with their work.\"  Correct Output: Successful Entrepreneur or Satisfied Employee  Persona Requirements:  The persona MUST be a specific, marketable archetype or job role.  Good Examples: \"Fitness Enthusiast\", \"Small Business Owner\", \"University Student\", \"Cybersecurity Expert\", \"Retired Couple\", \"Creative Professional\".  Bad Examples: \"A person standing\", \"Group of people\", \"Someone wearing a shirt\".  Output Format:  Return only the identified personas (or None in rare cases of truly insufficient data).  Each result must be on a new line.  Do not add any introductory text, labels, numbering, or explanations."
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "={{ $json.result }}"
            }
          ]
        },
        "batching": {
          "batchSize": 1,
          "delayBetweenBatches": "=1000"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        5104,
        384
      ],
      "id": "df8b9c69-a705-4078-9408-d88942566166",
      "name": "Extract Character Details via AI",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "jsCode": "const faceItems = $('Does Image Contain a Face?').all();\nconst characterItems = $('Extract Character Details via AI').all();\n\nconst allCharacters = [];\ncharacterItems.forEach(item => {\n  const text = item.json.text;\n  const characters = text.split('\\n').map(c => c.trim()).filter(c => c.length > 0);\n  allCharacters.push(...characters);\n});\n\nconst output = [];\nfor (let i = 0; i < faceItems.length; i++) {\n  const faceItem = faceItems[i].json;\n    let character = allCharacters[i] || null;\n  if (character === \"None\") {\n    character = \"\";\n  }\n  const newItem = {\n    ...faceItem,\n    character: character\n  };\n  \n  output.push(newItem);\n}\n\nreturn output.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5456,
        384
      ],
      "id": "b6e5a010-e4dc-4c6a-8d56-bf70ba1f6393",
      "name": "Merge AI Character Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "joy_likelihood, sorrow_likelihood, anger_likelihood, surprise_likelihood, under_exposed_likelihood, blurred_likelihood, headwear_likelihood",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5904,
        528
      ],
      "id": "25371f27-e9be-4fb7-aaba-170138ae3162",
      "name": "Format Columns for Sheet"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "10FTf-jMPzjpAbtKMKquZBwu5qzonOeZfm_w3S0OF7XE",
          "mode": "list",
          "cachedResultName": "ads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10FTf-jMPzjpAbtKMKquZBwu5qzonOeZfm_w3S0OF7XE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "גיליון1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10FTf-jMPzjpAbtKMKquZBwu5qzonOeZfm_w3S0OF7XE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "image_url": "={{ $json.image_url }}",
            "run_id": "={{ $json.run_id }}",
            "run_ts": "={{ $json.run_ts }}",
            "page_url": "={{ $json.page_url }}",
            "width": "={{ $json.width }}",
            "height": "={{ $json.height }}",
            "placement_hint": "={{ $json.placement_hint }}",
            "ad_host": "={{ $json.ad_host }}",
            "source": "={{ $json.source }}",
            "first_seen": "={{ $json.first_seen }}",
            "last_seen": "={{ $json.last_seen }}",
            "palette_1": "={{ $json.palette_1 }}",
            "palette_2": "={{ $json.palette_2 }}",
            "palette_3": "={{ $json.palette_3 }}",
            "has_face": "={{ $json.has_face }}",
            "objects": "={{ $json.objects }}",
            "text": "={{ $json.text }}",
            "character": "={{ $json.character }}"
          },
          "matchingColumns": [
            "image_url"
          ],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "run_ts",
              "displayName": "run_ts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "page_url",
              "displayName": "page_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "width",
              "displayName": "width",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "height",
              "displayName": "height",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "placement_hint",
              "displayName": "placement_hint",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ad_host",
              "displayName": "ad_host",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first_seen",
              "displayName": "first_seen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_seen",
              "displayName": "last_seen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "palette_1",
              "displayName": "palette_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "palette_2",
              "displayName": "palette_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "palette_3",
              "displayName": "palette_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "has_face",
              "displayName": "has_face",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "objects",
              "displayName": "objects",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "character",
              "displayName": "character",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        6080,
        224
      ],
      "id": "e19fce5d-04c2-4c94-9d5c-89553e670a04",
      "name": "Append/Update Ad Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uF0uHKbG6wiumvXL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5680,
        528
      ],
      "id": "851b89e6-a8b5-47dc-8c75-08241f50e989",
      "name": "Merge Ad List"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1072,
        1136
      ],
      "id": "e543913a-10c8-4e6a-a8d0-7dd738193d27",
      "name": "Weekly Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10FTf-jMPzjpAbtKMKquZBwu5qzonOeZfm_w3S0OF7XE",
          "mode": "list",
          "cachedResultName": "ads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10FTf-jMPzjpAbtKMKquZBwu5qzonOeZfm_w3S0OF7XE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "גיליון1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10FTf-jMPzjpAbtKMKquZBwu5qzonOeZfm_w3S0OF7XE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1296,
        1136
      ],
      "id": "a0de1b8a-4ad9-46d7-ba5b-88252f8ae466",
      "name": "Load Existing Ad Data",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uF0uHKbG6wiumvXL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $('Load Existing Ad Data').all();\n\nfunction hexToRgb(hex) {\n  const result = /^#?([a-f\\d]{2})([a-f\\d]{2})([a-f\\d]{2})$/i.exec(hex);\n  return result ? {\n    r: parseInt(result[1], 16),\n    g: parseInt(result[2], 16),\n    b: parseInt(result[3], 16)\n  } : null;\n}\n\nfunction rgbToHsl(r, g, b) {\n  r /= 255;\n  g /= 255;\n  b /= 255;\n  \n  const max = Math.max(r, g, b);\n  const min = Math.min(r, g, b);\n  let h, s, l = (max + min) / 2;\n\n  if (max === min) {\n    h = s = 0; // achromatic\n  } else {\n    const d = max - min;\n    s = l > 0.5 ? d / (2 - max - min) : d / (max + min);\n    \n    switch (max) {\n      case r: h = ((g - b) / d + (g < b ? 6 : 0)) / 6; break;\n      case g: h = ((b - r) / d + 2) / 6; break;\n      case b: h = ((r - g) / d + 4) / 6; break;\n    }\n  }\n  \n  return { h: h * 360, s: s * 100, l: l * 100 };\n}\n\nfunction getColorName(hex) {\n  const rgb = hexToRgb(hex);\n  if (!rgb) return 'unknown';\n  \n  const { r, g, b } = rgb;\n  const hsl = rgbToHsl(r, g, b);\n  const { h, s, l } = hsl;\n  \n  if (s < 10) {\n    if (l < 20) return 'black';\n    if (l < 40) return 'darkgray';\n    if (l < 60) return 'gray';\n    if (l < 80) return 'lightgray';\n    return 'white';\n  }\n  \n  if (l < 15) return 'black';\n  if (l > 90 && s < 20) return 'white';\n  if (h >= 0 && h < 15) return 'red';\n  if (h >= 15 && h < 45) return 'orange';\n  if (h >= 45 && h < 70) return 'yellow';\n  if (h >= 70 && h < 150) return 'green';\n  if (h >= 150 && h < 200) return 'cyan';\n  if (h >= 200 && h < 260) return 'blue';\n  if (h >= 260 && h < 330) return 'purple';\n  if (h >= 330 && h <= 360) return 'red';\n  \n  return 'brown';\n}\n\nconst colorNameCount = {};\nconst colorNameHexes = {};\nconst pairCount = {};\nconst pairHexes = {};\n\nlet dataArray = [];\nif (Array.isArray(items)) {\n  if (items.length > 0 && items[0].json && Array.isArray(items[0].json)) {\n    dataArray = items[0].json;\n  } else {\n    dataArray = items;\n  }\n}\n\nfor (const item of dataArray) {\n  const record = item.json || item;\n  const palette1 = record.palette_1;\n  const palette2 = record.palette_2;\n  const palette3 = record.palette_3;\n  const palettes = [palette1, palette2, palette3].filter(p => p);\n  if (palette1) {\n    const colorName = getColorName(palette1);\n    colorNameCount[colorName] = (colorNameCount[colorName] || 0) + 1;\n    if (!colorNameHexes[colorName]) {\n      colorNameHexes[colorName] = [];\n    }\n    colorNameHexes[colorName].push(palette1);\n  }\n  \n  if (palettes.length >= 2) {\n    const pairs = [\n      [palettes[0], palettes[1]],\n      [palettes[1], palettes[2]],\n      [palettes[0], palettes[2]]\n    ];\n    \n    for (const [hex1, hex2] of pairs) {\n      if (hex1 && hex2) {\n        const color1 = getColorName(hex1);\n        const color2 = getColorName(hex2);\n        const pairKey = [color1, color2].sort().join('-');\n        \n        pairCount[pairKey] = (pairCount[pairKey] || 0) + 1;\n        if (!pairHexes[pairKey]) {\n          pairHexes[pairKey] = { color1: [], color2: [] };\n        }\n                if (color1 <= color2) {\n          pairHexes[pairKey].color1.push(hex1);\n          pairHexes[pairKey].color2.push(hex2);\n        } else {\n          pairHexes[pairKey].color1.push(hex2);\n          pairHexes[pairKey].color2.push(hex1);\n        }\n      }\n    }\n  }\n}\n\nconst colorCountArray = Object.entries(colorNameCount).map(([colorName, count]) => ({\n  colorName,\n  count\n}));\n\ncolorCountArray.sort((a, b) => b.count - a.count);\n\nconst top1 = colorCountArray[0] || { colorName: 'unknown', count: 0 };\nconst top2 = colorCountArray[1] || { colorName: 'unknown', count: 0 };\nconst top3 = colorCountArray[2] || { colorName: 'unknown', count: 0 };\n\nfunction getMiddleStrongestHex(colorName) {\n  if (!colorName || colorName === 'unknown' || !colorNameHexes[colorName]) {\n    return '#000000';\n  }\n  \n  const hexes = colorNameHexes[colorName];\n    const hexStrengths = hexes.map(hex => {\n    const rgb = hexToRgb(hex);\n    if (!rgb) return { hex, strength: 0 };\n    \n    const max = Math.max(rgb.r, rgb.g, rgb.b);\n    const min = Math.min(rgb.r, rgb.g, rgb.b);\n    const saturation = max === 0 ? 0 : (max - min) / max;\n    const brightness = max / 255;\n    const strength = saturation + brightness;\n    \n    return { hex, strength };\n  });\n  \n  hexStrengths.sort((a, b) => a.strength - b.strength);\n  const middleIndex = Math.floor(hexStrengths.length / 2);\n  return hexStrengths[middleIndex].hex;\n}\n\nconst selectedColorHex1 = getMiddleStrongestHex(top1.colorName);\nconst selectedColorHex2 = getMiddleStrongestHex(top2.colorName);\nconst selectedColorHex3 = getMiddleStrongestHex(top3.colorName);\n\nlet mostCommonPair = null;\nlet maxPairCount = 0;\n\nfor (const [pairKey, count] of Object.entries(pairCount)) {\n  if (count > maxPairCount) {\n    maxPairCount = count;\n    mostCommonPair = pairKey;\n  }\n}\n\nlet selectedPairHex1 = '#000000';\nlet selectedPairHex2 = '#000000';\nlet pairColorNames = ['unknown', 'unknown'];\n\nif (mostCommonPair && pairHexes[mostCommonPair]) {\n  pairColorNames = mostCommonPair.split('-');\n  \n  const hexes1 = pairHexes[mostCommonPair].color1;\n  const hexStrengths1 = hexes1.map(hex => {\n    const rgb = hexToRgb(hex);\n    if (!rgb) return { hex, strength: 0 };\n    \n    const max = Math.max(rgb.r, rgb.g, rgb.b);\n    const min = Math.min(rgb.r, rgb.g, rgb.b);\n    const saturation = max === 0 ? 0 : (max - min) / max;\n    const brightness = max / 255;\n    const strength = saturation + brightness;\n    \n    return { hex, strength };\n  });\n  \n  hexStrengths1.sort((a, b) => a.strength - b.strength);\n  const middleIndex1 = Math.floor(hexStrengths1.length / 2);\n  selectedPairHex1 = hexStrengths1[middleIndex1].hex;\n  \n  const hexes2 = pairHexes[mostCommonPair].color2;\n  const hexStrengths2 = hexes2.map(hex => {\n    const rgb = hexToRgb(hex);\n    if (!rgb) return { hex, strength: 0 };\n    \n    const max = Math.max(rgb.r, rgb.g, rgb.b);\n    const min = Math.min(rgb.r, rgb.g, rgb.b);\n    const saturation = max === 0 ? 0 : (max - min) / max;\n    const brightness = max / 255;\n    const strength = saturation + brightness;\n    \n    return { hex, strength };\n  });\n  \n  hexStrengths2.sort((a, b) => a.strength - b.strength);\n  const middleIndex2 = Math.floor(hexStrengths2.length / 2);\n  selectedPairHex2 = hexStrengths2[middleIndex2].hex;\n}\n\nconst output = {\n  most_common_palette1_color: top1.colorName,\n  most_common_palette1_color_hex: selectedColorHex1,\n  most_common_palette1_color_count: top1.count,\n  \n  second_most_common_palette1_color: top2.colorName,\n  second_most_common_palette1_color_hex: selectedColorHex2,\n  second_most_common_palette1_color_count: top2.count,\n  \n  third_most_common_palette1_color: top3.colorName,\n  third_most_common_palette1_color_hex: selectedColorHex3,\n  third_most_common_palette1_color_count: top3.count,\n  \n  most_common_pair_color1: pairColorNames[0],\n  most_common_pair_color2: pairColorNames[1],\n  most_common_pair_hex1: selectedPairHex1,\n  most_common_pair_hex2: selectedPairHex2,\n  most_common_pair_count: maxPairCount\n};\n\nreturn [{ json: output }];"
      },
      "id": "95604b66-29ce-42fd-b380-ce1bd77fdb69",
      "name": "Identify Color Trends",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        944
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "const items = $('Load Existing Ad Data').all();\nconst objectCount = {};\nlet dataArray = [];\nif (Array.isArray(items)) {\n  if (items.length > 0 && items[0].json && Array.isArray(items[0].json)) {\n    dataArray = items[0].json;\n  } else {\n    dataArray = items;\n  }\n}\n\nfor (const item of dataArray) {\n  const record = item.json || item;\n  \n  const objectsField = record.objects;\n  \n  if (objectsField && typeof objectsField === 'string') {\n    const objectsList = objectsField.split(',').map(obj => obj.trim());\n      for (const obj of objectsList) {\n      if (obj && obj.toLowerCase() !== 'person') {\n        objectCount[obj] = (objectCount[obj] || 0) + 1;\n      }\n    }\n  }\n}\n\nconst objectCountArray = Object.entries(objectCount).map(([objectName, count]) => ({\n  objectName,\n  count\n}));\n\nobjectCountArray.sort((a, b) => b.count - a.count);\n\nconst top1 = objectCountArray[0] || { objectName: 'unknown', count: 0 };\nconst top2 = objectCountArray[1] || { objectName: 'unknown', count: 0 };\nconst top3 = objectCountArray[2] || { objectName: 'unknown', count: 0 };\n\nconst output = {\n  most_common_object: top1.objectName,\n  most_common_object_count: top1.count,\n  \n  second_most_common_object: top2.objectName,\n  second_most_common_object_count: top2.count,\n  \n  third_most_common_object: top3.objectName,\n  third_most_common_object_count: top3.count\n};\n\nreturn [{ json: output }];"
      },
      "id": "cd0ecd21-f870-4efd-a736-d9a1d433ec45",
      "name": "Identify Object Trends",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        1136
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "const items = $('Load Existing Ad Data').all();\n\nconst characters = [];\nlet dataArray = [];\n\nif (Array.isArray(items)) {\n  if (items.length > 0 && items[0].json && Array.isArray(items[0].json)) {\n    dataArray = items[0].json;\n  } else {\n    dataArray = items;\n  }\n}\n\nfor (const item of dataArray) {\n  const record = item.json || item;\n  const characterField = record.character;\n    if (characterField && typeof characterField === 'string' && characterField.trim() !== '') {\n    characters.push(characterField.trim());\n  }\n}\n\nconst allCharacters = characters.join(',');\nconst output = {\n  all_characters: allCharacters\n};\n\nreturn [{ json: output }];"
      },
      "id": "0a6fb87d-0cea-467d-bf46-59b22f3b1b6c",
      "name": "Identify Character Trends",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        1440
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Your task is to analyze the following JSON data and return the top three most frequent character concepts in a specific JSON format.\n\nInstructions:\n\nAnalyze the list to determine the frequency of each unique character description.\n\nRank the character descriptions from most frequent to least frequent.\n\nConstruct a JSON object as the final output that strictly adheres to the following structure:\n\nThe key for the most frequent character must be \"rank1character\".\n\nThe key for the second most frequent character must be \"rank2character\".\n\nThe key for the third most frequent character must be \"rank3character\".\n\nThe value for each key should be the string of the character description.\n\nIf there is a tie for any position, you may select any one of the tied characters to represent that rank."
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "={{ $json.all_characters }}"
            }
          ]
        },
        "batching": {
          "batchSize": 1,
          "delayBetweenBatches": 1000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1744,
        1440
      ],
      "id": "13a1225a-2e02-4d71-9e6d-65b5bf470853",
      "name": "Determine Winning Characters",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/imagen-3.0-generate-002",
          "mode": "list",
          "cachedResultName": "models/imagen-3.0-generate-002"
        },
        "prompt": "=Create a 250×300 ad image using the colors {{ $json.most_common_palette1_color_hex }}, {{ $json.second_most_common_palette1_color_hex }}.\nThe ad should represent Guardio, a cybersecurity company that protects users from online threats like phishing, fake websites, malicious extensions, and data leaks.\nInclude the object: {{ $('Identify Object Trends').first().json.most_common_object }} and the character: {{ $('Determine Winning Characters').first().json.output.rank1character }} in the composition.\nEnsure the style feels modern, secure, and professional, aligning with Guardio’s brand.\nAdd text about Guardio that communicates its focus on safe browsing, identity protection, and real-time threat alerts.\n\n\n\n\n",
        "options": {
          "sampleCount": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2096,
        1136
      ],
      "id": "c50530d7-46df-4f53-9a5f-29944f297d05",
      "name": "Generate Ads with AI",
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "googlePalmApi": {
          "id": "JmqG9v4RfEMBQdLj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "name": "guardio ad",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2320,
        1136
      ],
      "id": "2fdc2640-8071-4f5c-bb86-6f4b55abc066",
      "name": "Save Generated Images",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "r2blkfsEYJh879VT",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## New Ad Processing & Analysis\n",
        "height": 432,
        "width": 2576,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3456,
        288
      ],
      "typeVersion": 1,
      "id": "a3706bdc-6db4-44a0-9eec-3e7abe35f29f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "The ads scraped from the DOM are unsuitable, so I am not proceeding with them.",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2352,
        192
      ],
      "typeVersion": 1,
      "id": "eeeb5307-bbcb-45c9-b579-7fb9703eb6f1",
      "name": "Sticky Note5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        944,
        1840
      ],
      "id": "2988ba24-d502-4ab4-ab46-4a881e44f417",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "content": "Batching the data, The goal is to send few items together to minimize the number of API calls.",
        "height": 80,
        "width": 310
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4656,
        304
      ],
      "typeVersion": 1,
      "id": "e455a66b-bfd2-4a95-a2b5-0e8d5bd608a2",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "10FTf-jMPzjpAbtKMKquZBwu5qzonOeZfm_w3S0OF7XE",
          "mode": "list",
          "cachedResultName": "ads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10FTf-jMPzjpAbtKMKquZBwu5qzonOeZfm_w3S0OF7XE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1441489266,
          "mode": "list",
          "cachedResultName": "שגיאות",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10FTf-jMPzjpAbtKMKquZBwu5qzonOeZfm_w3S0OF7XE/edit#gid=1441489266"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "execution",
              "displayName": "execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "workflow",
              "displayName": "workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1088,
        1840
      ],
      "id": "02be8111-65a2-4eff-b873-82505bd9c0e9",
      "name": "Log Errors To Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uF0uHKbG6wiumvXL",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Fetch Homepage HTML": {
      "main": [
        [
          {
            "node": "Extract Article URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Article Links": {
      "main": [
        [
          {
            "node": "Get Rendered HTML with Headless Browser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Character Details via AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Determine Winning Characters",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Determine Winning Characters",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Daily schedual": {
      "main": [
        [
          {
            "node": "Initialize Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Configuration": {
      "main": [
        [
          {
            "node": "Fetch Homepage HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Article URLs": {
      "main": [
        [
          {
            "node": "Filter Article Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rendered HTML with Headless Browser": {
      "main": [
        [
          {
            "node": "Scrape Ads from Main DOM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Scrape iFrame Ad Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape iFrame Ad Sources": {
      "main": [
        [
          {
            "node": "Isolate URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Isolate URLs": {
      "main": [
        [
          {
            "node": "Combine and Clean Ad URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine and Clean Ad URLs": {
      "main": [
        [
          {
            "node": "Read Existing Ads from Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Find Existing Ads",
            "type": "main",
            "index": 0
          },
          {
            "node": "Find Unseen Ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Existing Ads from Sheet": {
      "main": [
        [
          {
            "node": "Find Existing Ads",
            "type": "main",
            "index": 1
          },
          {
            "node": "Find Unseen Ads",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Find Existing Ads": {
      "main": [
        [
          {
            "node": "Update 'Last Seen' Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Unseen Ads": {
      "main": [
        [
          {
            "node": "Send New Ad Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Process First X New Ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update 'Last Seen' Timestamp": {
      "main": [
        [
          {
            "node": "Append/Update Ad Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process First X New Ads": {
      "main": [
        [
          {
            "node": "Add Ad Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Ad Metadata": {
      "main": [
        [
          {
            "node": "Analyze Image with Google Vision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Image with Google Vision": {
      "main": [
        [
          {
            "node": "Merge Vision API Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Vision API Results": {
      "main": [
        [
          {
            "node": "Does Image Contain a Face?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Does Image Contain a Face?": {
      "main": [
        [
          {
            "node": "Define AI Prompt Template",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Ad List",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Define AI Prompt Template": {
      "main": [
        [
          {
            "node": "Build Final Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Final Prompt": {
      "main": [
        [
          {
            "node": "Extract Character Details via AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Character Details via AI": {
      "main": [
        [
          {
            "node": "Merge AI Character Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge AI Character Data": {
      "main": [
        [
          {
            "node": "Merge Ad List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Columns for Sheet": {
      "main": [
        [
          {
            "node": "Append/Update Ad Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Ad List": {
      "main": [
        [
          {
            "node": "Format Columns for Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Trigger": {
      "main": [
        [
          {
            "node": "Load Existing Ad Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Existing Ad Data": {
      "main": [
        [
          {
            "node": "Identify Color Trends",
            "type": "main",
            "index": 0
          },
          {
            "node": "Identify Object Trends",
            "type": "main",
            "index": 0
          },
          {
            "node": "Identify Character Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identify Color Trends": {
      "main": [
        [
          {
            "node": "Generate Ads with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identify Object Trends": {
      "main": [
        [
          {
            "node": "Generate Ads with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identify Character Trends": {
      "main": [
        [
          {
            "node": "Determine Winning Characters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Winning Characters": {
      "main": [
        [
          {
            "node": "Generate Ads with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Ads with AI": {
      "main": [
        [
          {
            "node": "Save Generated Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Log Errors To Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "42a2b177-1338-47b4-89ad-aee51edc4ebe",
  "meta": {
    "instanceId": "6024eacf6abfe8036a6f6079e10696b8bde7981219fc6464c6f198aded18dc3b"
  },
  "id": "vJ3gTG9UElVAk2aI",
  "tags": []
}